<div id="add-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>チャンネル登録</h5>
      <span class="modalClose" id="add-page-close-btn">×</span>
    </div>
    <form class="modal-body" action="/" method="POST">
      <input
        type="text"
        placeholder="channel name"
        class="channel-form-input"
        name="channel-title"
      />
      <input
        type="text"
        placeholder="category"
        class="channel-form-input"
        name="channel-description"
      />
      <button id="add-channel-confirmation-btn">ADD</button>
    </form>
  </div>
</div>
