<div id="mydream-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5>叶えたい夢を設定</h5>
        <span class="modalClose" id="mydream-page-close-btn">×</span>
      </div>
      <form class="modal-body" action="/add-dream" method="POST">
        <input
          type="text"
          placeholder="my dream"
          class="mydream-form-input"
          name="mydream"
        />
        <button id="mydream-confirmation-btn">ADD</button>
      </form>
    </div>
  </div>
  