<div class="navigation">
  <ul>
    <li class="list active">
      <a href="{{ url_for('index') }}">
        <span class="icon"><ion-icon name="home-sharp"></ion-icon></span>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="list active">
      <a href="{{ url_for('index') }}">
        <span class="icon"><ion-icon name="list-sharp"></ion-icon></span>
        <span class="title">Channel Lists</span>
      </a>
    </li>
    <li class="list active">
      <a href="{{ url_for('index') }}">
        <span class="icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
        <span class="title">To Do List</span>
      </a>
    </li>
    <li class="list active logout">
      <a href="{{ url_for('logout') }}">
        <span class="icon"><ion-icon name="log-out-sharp"></ion-icon></span>
      </a>
    </li>
  </ul>
</div>